@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container{
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #6A859C;
    line-height: 1.8;
}

button{
    color: #fff;
    text-transform: uppercase;
}

.header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;

    background-color: #fff;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #69b9ff;
}

.header__nav ul{
    display: flex;
    gap: 40px;
}

.header__nav a{
    font-size: 16px;
    line-height: 125%;
    color: #676770;
    transition: color 0.2s;
}

.header__nav a:hover{
    color: #0082f3;
}

.header__nav a:active{
    color: #0065BD;
}

.welcome {
    background-image: url(./img/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-color: #2f2f46;
    padding: 200px 0;
    max-width: auto;
}

.welcome__title {
    font-size: 59px;
    line-height: 102%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    padding-bottom: 106px;
}

.welcome__btn {
    text-align: center;
}

.btn__sign {
    border-radius: 4px;
    width: 138px;
    height: 45px;
    background: #69b9ff;
    margin-right: 20px;
    transition: 500ms;
}

.btn__sign:hover{
    background-color: #33a0ff;
}

.btn__learn {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 183px;
    height: 43px;
    transition: 500ms;
}

.btn__learn:hover{
    background-color: #999999;
}

.about {
    padding-bottom: 80px;
}

.title__wrapper {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #676770;
    padding: 80px 0 18px 0;

}

.text__wrapper {
    font-size: 17px;
    line-height: 118%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: #8e8e9c;
    padding-bottom: 62px;
}

.advantages__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.advantages__cards .card {
    max-width: 300px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    text-align: center;
    padding: 16px;
    transition: 500ms;
}

.advantages__cards .card:hover{
    transform: scale(1.1);
}

.title {
    padding: 24px 0 24px 0;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    text-align: center;
    color: #676770;
}

.text {
    font-size: 14px;
    line-height: 179%;
    text-align: center;
    color: #6a859c;
}

.services {
    background: #192024;
    padding-bottom: 95px;
}

.title__services {
    color: #fff;
}

.text__services {
    color: #e8e8e8;
}

.services__cards {
    display: flex;
    justify-content: space-between;
}

.services__cards .card {
    max-width: 460px;
    text-align: center;
    padding: 16px;
}

.services__cards .title {
    color: #fff;
}

.services__cards .text {
    padding-bottom: 18px;
    color: #fff;
}

.tabs__nav{
    display: flex;
    justify-content: center;
    padding-bottom: 54px;
}

.tabs__nav button {
    padding: 0 30px;
    font-size: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    background-color: #92a0ad;
    border-radius: 4px;

}

.tabs__nav button.active {
    background-color: #2e80b6;
}

.tabs__nav button + button{
    margin-left: 15px;
}

.tab__item img{
    width: 940px;
}

.tab__item h4{
    font-size: 31px;
    line-height: 116%;
    text-align: center;
    color: #676770;
    padding: 16px;
}

.tab__desc {
    max-width: 710px;
    font-size: 13px;
    line-height: 192%;
    text-align: center;
    color: #6a859c;
    margin: 0 auto;
    padding-bottom: 116px;
}

.footer h5{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #676770;
}

.footer__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 36px;
    flex-wrap: wrap;
    gap: 20px 40px;
}

.footer__container > *{
    width: 30%;
    min-width: 200px;
}

.footer__desc a{
    font-size: 13px;
    line-height: 154%;
    color: #668cad;
    transition: 500ms;
}

.footer__desc a:hover{
    color: #243442;
}

.footer__desc li{
    height: 30px;
    position: relative;
}

.footer__desc li::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #d5d5e0;
}

.footer__desc li + li{
    margin-top: 6px;
}

.footer__social img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.footer__social li::before{
    width: calc(100% - 30px);
}

.footer__social img{
    margin-right: 10px;
}

.footer__copy {
    padding: 40px 0;
    background-color: #383838;
    text-align: center;
}

.footer__copy p{
    color: #9e9e9e;
}

@media (max-width: 500px){
    .header__nav li + li{
        margin-left: 15px;
    }

    .welcome__title{
        max-width: 300px;
        font-size: 40px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    .welcome__btn{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }
    
    .welcome__btn > * + *{
        margin: 0;
        margin-top: 20px;
    }

    .btn__sign{
        margin-right: auto;
        width: 183px;
    }

    .advantages__cards{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 600px){
    .services__cards {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .services__cards .card{
        width: 80%;
    }
}

@media (max-width: 660px){
    .tabs__nav{
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .tabs__nav button{
        padding: 10px 30px;
        align-items: center;
        font-size: 15px;
    }

    .tabs__nav button + button{
        margin-top: 10px;
        margin-left: auto;
    }

}